@import '~node_modules/modern-normalize/modern-normalize.css';
body {
	font-family: 'Montserrat' , 'Times New Roman' , sans-serif;
	background-color: $color-background;
	font-weight: 500;
	letter-spacing: 0.08em
}

.container {
	margin-right: auto;
	margin-left: auto;
	padding-right: 20px;
	padding-left: 20px;
	outline: 1px solid tomato;
	width: 100%;

	@media (min-width: 320px) {
		width: 320px;

	}

	@media (min-width: 768px) {
		padding-right: 40px;
		padding-left: 40px;
		width: 768px;
	}

	@media (min-width: 1366px) {
		padding-right: 26px;
		padding-left: 26px;
		width: 1366px;
	}

}
.section {
	padding-top: 0px;
	padding-bottom: 70px;
	@media (min-width: 1366px) {
		padding-top: 0px;
		padding-bottom: 130px;
	}
}
.section__title {
	font-weight: 800;
	font-size: 20px;
	line-height: 1.3;
	letter-spacing: 0.03em;
	@media (min-width:768px) {
		font-size: 26px;
	}
	@media (min-width:1366px) {
		font-size: 46px
	}
}
.hidden {
	position: absolute;
	white-space: nowrap;
	width: 1px;
	height: 1px;
	overflow: hidden;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	margin: -1px;
}
.list {
	padding: 0;
	margin: 0;
	list-style: none;
}
.link {
	text-decoration: none;
}
h1,
h2,
h3,
h4 {
	margin-top: 0;
}

p {
	margin: 0px;
	padding: 0px;
}
.image {
	display: block;
	margin: 0;
}