<header class="header">
  <div class="container header__container">
    <button type="button" class="button header__menu-button" data-menu-button>
      <svg class="header__svg header__svg--menu" width="30px" height="30px">
        <use
          class="header__icon-menu"
          href="./images/icon-sprite.svg#icon-menu_40px"
        ></use>
        <use
          class="header__icon-cross"
          href="./images/icon-sprite.svg#icon-close_40px"
        ></use>
      </svg>
    </button>
    <div class="header__menu-container" data-menu>
      <include src="./partials/logo.html"></include>
      <div class="menu">
        <div class="menu__container container">
          <nav class="navigation">
            <ul>
              <li class="navigation__link">Studying program</li>
              <li class="navigation__link">About</li>
              <li class="navigation__link">Training options</li>
              <li class="navigation__link">Contacts</li>
            </ul>
          </nav>
          <button class="header__button"></button>
        </div>
      </div>
    </div>
  </div>
</header>
