<header>
  <div class="container">
    <include src="./partials/logo.html"></include>
    <button type="button" class="button header__menu-button" data-menu-button>
      <svg class="header__svg header__svg--menu" width="40px" height="40px">
        <use
          class="header__icon-menu_40px"
          href="./images/icon-sprite.svg#icon-logo"
        ></use>
        <use
          class="header__icon-cross"
          href="./images/icon-sprite.svg#icon-menu-close"
        ></use>
      </svg>
    </button>
    <svg>
      <use href="./images/menu.svg"></use>
    </svg>
  </div>
</header>
