.section__title--benefits {
  color: red;
  @include media-query(mobile) {
    letter-spacing: 0.03em;
    text-align: start;
    max-width: 180px;
  }

  @include media-query(tablet) {
    font-size: 26px;

    text-align: center;
    max-width: 100%;
  }

  @include media-query(desktop) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}

.benefits__list {
  counter-reset: section;
  list-style-type: none;
  @include media-query(mobile) {
    padding: 35px 22px;
    margin-bottom: 0;
    margin-top: 0;
  }
  @include media-query(tablet) {
    display: flex;
    flex-wrap: wrap;
    padding: 40px 98px;
    margin: -10px;
  }

  @include media-query(desktop) {
    padding: 67px 113px;
    margin-left: -20px;
    margin-right: -20px;
    margin-top: -15px;
    margin-bottom: -15px;
  }
}

.benefits__item {
  @include media-query(mobile) {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.43;
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  //   @include media-query(mobile-only) {

  //     &:not(:last-child) {
  //       margin-bottom: 30px;
  //     }
  //   }

  @include media-query(tablet) {
    width: calc((100% - 2 * 20px) / 2);
    margin: 10px;

    line-height: 1.71;
  }
  @include media-query(desktop) {
    width: calc((100% - 3 * 40px) / 3);
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 15px;
    margin-bottom: 15px;

    font-size: 20px;
    line-height: 1.4;
  }
}

.benefits__item::before {
  counter-increment: section;
  content: '– 0' counter(section) ' ';

  @include media-query(mobile) {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.65;

    color: $color-accent;

    display: flex;
    align-items: center;
  }
  @include media-query(tablet) {
    line-height: 1.2;
  }

  @include media-query(desktop) {
    font-size: 20px;
    line-height: 1.65;
  }
}
