.problem {
  position: relative;

  background-image: linear-gradient(
    to bottom,
    $color-primary,
    $color-background
  );
  @include media-query(mobile) {
    padding-top: 25px;
    min-height: 790px;
  }
}
.background {
  width: 100%;
  background-color: $color-primary;
  @media screen and (max-width: 767px) {
    position: absolute;
    height: 545px;
  }
}

.container--problem {
  @media screen and (max-width: 767px) {
    position: absolute;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
  }
}
.section__title--problem {
  // color: red;

  @include media-query(mobile) {
    font-size: 24px;
    letter-spacing: 0.08em;
    text-align: start;
  }

  @include media-query(tablet) {
    max-width: 450px;
    letter-spacing: 0.03em;
  }

  @include media-query(desktop) {
    max-width: 807px;
    font-size: 46px;
  }
}
.problem__accent {
  color: $color-accent;
}

.problem__list {
  background-color: $color-background;
  counter-reset: section;
  list-style-type: none;
  @include media-query(mobile) {
    padding: 20px 27px;
    margin-bottom: 0;
    margin-top: 0;
  }
  @include media-query(tablet) {
    display: flex;
    flex-wrap: wrap;
    padding: 28px 100px;
    margin-left: -44px;
    margin-right: -44px;
    margin-top: -10px;
    margin-bottom: -10px;
  }

  @include media-query(desktop) {
    padding: 67px 113px;
    margin-left: -20px;
    margin-right: -20px;
    margin-top: -15px;
    margin-bottom: -15px;
  }
}

.problem__item {
  @include media-query(mobile) {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.71;
  }
  &:not(:last-child) {
    margin-bottom: 15px;
  }
  // @include media-query(mobile-only) {
  //   &:not(:last-child) {
  //     margin-bottom: 30px;
  //   }
  // }

  @include media-query(tablet) {
    line-height: 1.43;
    width: calc((100% - 2 * 88px) / 2);
    margin-left: 44px;
    margin-right: 44px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  @include media-query(desktop) {
    font-size: 20px;
    line-height: 1.4;

    width: calc((100% - 3 * 40px) / 3);
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

.problem__item::before {
  counter-increment: section;
  content: '– 0' counter(section) ' ';

  @include media-query(mobile) {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.65;

    color: $color-accent;

    display: flex;
    align-items: center;
  }
  @include media-query(tablet) {
    line-height: 1.2;
  }

  @include media-query(desktop) {
    font-size: 20px;
    line-height: 1.65;
  }
}
